---
import Header from "../components/header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About Me</title>
  </head>

  <body style="font-family: Arial; max-width: 900px; margin: auto; padding: 20px;">
    
    <Header />

    <main>
      <h2>About Me</h2>
      <p>
        I am a beginner web developer learning Astro as part of my
        Website Developer Internship task at Kiran Foundation.
      </p>
    </main>

    <Footer />

  </body>
</html>
