---
const path = Astro.url.pathname;
---

<header>
  <div class="container">
    <h1>🚀 Shrinandana Astro Blog</h1>

    <nav class="nav">
      <a href="/" class={path === "/" ? "active" : ""}>Home</a>
      <a href="/blog" class={path.startsWith("/blog") ? "active" : ""}>Blog</a>
      <a href="/about" class={path === "/about" ? "active" : ""}>About</a>
    </nav>
  </div>
</header>
